$primary-color: #3498db;

body {
    font-family: Arial, sans-serif;
    background-color: lighten($primary-color, 40%);
}

.header {
    background-color: $primary-color;
    color: white;
    padding: 20px;
    
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}